.header{
    background: gray;
    width: 100%;
    height: 70px;
    margin-top:0;
    display: inline-flex;
   
}

ul{
    display:flex;
    line-height: 40px;
}

li{
    padding-right: 3em;
    list-style: none;
    
}

